@model Message
@{
    ViewData["Title"] = "Create message";
}

<h1 class="display-3">Create message</h1>

<form asp-area="" asp-controller="Message" asp-action="Create" method="post" style="width: 200px;">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Text"></label>
        <input asp-for="Text" class="form-control">
        <span asp-validation-for="Text" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control">
        <span asp-validation-for="Phone" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control">
        <span asp-validation-for="Date" class="form-text text-muted"></span>
    </div>
    <div style="margin-top: 5px;">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-area="" asp-controller="Message" asp-action="Index" class="btn btn-primary">Back</a>
    </div>
</form>