@{
    ViewData["Title"] = "Messages";
}

<h1>Create messages</h1>
<form>
    <p>Text</p> 
    <input type="text" size="40">
    <p>Email</p>
    <input type="text" size="40">
    <p>Phone</p>
    <input type="text" size="40">
    <p>Date</p>
    <input type="text" size="40">
     <p><input type="submit" value="Отправить"></p>
</form>